/*Baner*/
header{
    height: 100vh;
    background-image: linear-gradient(to right, rgba(67, 67, 67, 0.801) 0%, rgba(0, 0, 0, 0.801) 100%), url(../img2/baner3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}

/* Nuestra Historia*/
.subtitulo{
    text-align: center;
    font-weight: 300;
    color: #ff0000;
    margin-bottom: 40px;
    font-size: 40px;
}

/* Estilos para las promociones especiales */
.promotions-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 20px;
  }

  .promotion {
    width: 30%; /* Ajusta el ancho según tu diseño */
    background-color: #c0c0c0;
    padding: 20px;
    border-radius: 5px;
    margin-bottom: 20px;
    margin: 20px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  }

  .promotion img {
    width: 100%;
    border-radius: 5px;
    margin-bottom: 10px;
    transition: transform 0.3s;
  }

  .promotion:hover {
    transform: scale(1.05);
  }

  .promotion:hover img {
    transform: scale(1.1);
  }

  .promotion h3 {
    font-size: 18px;
    margin-bottom: 10px;
  }

  .promotion p {
    margin-bottom: 10px;
  }

  .btn {
    display: inline-block;
    background-color: #333;
    color: #fff;
    padding: 8px 15px;
    text-decoration: none;
    border-radius: 3px;
    transition: background-color 0.3s ease;
  }

  .btn:hover {
    background-color: #555;
  }


.imagen-light{
    position: fixed;
    background: rgba(0, 0, 0, 0.6);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translate(100%);
    transition: transform .2s ease-in-out;
}


.show{
    transform: translate(0);
}

.agregar-imagen{
    object-fit: cover;
    width: 60%;
    border-radius: 10px;
    transform: scale(0);
    transition: transform .3s .2;
}

.showImage{
    transform: scale(1);
}

.close{
    position: absolute;
    top: 70px;
    right: 15px;
    width: 40px;
    cursor: pointer;

}

.productos{
    width: 90%;
    max-width: 1200px;
    overflow: hidden;
    margin: auto;
    padding: 60px 0;
    height: 10px;
}



/*RESPONSIVE*/
 /* Estilos para las promociones especiales */
 .promotions-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 20px;
  }

  .promotion {
    width: 100%; /* El ancho será del 100% en pantallas pequeñas */
    background-color: #c0c0c0;
    padding: 20px;
    border-radius: 5px;
    margin: 10px 0;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  }

@media (min-width: 768px) {
    /* Estilos para pantallas más grandes (a partir de 768px de ancho) */
    .promotion {
      width: 30%; /* El ancho será del 30% en pantallas más grandes */
      margin: 10px;
    }
  }

  .promotion img {
    width: 100%;
    border-radius: 5px;
    cursor: pointer;
  }

/* Para la pagina en general */
@media screen and (max-width:800px){

    .btn-menu{
       position: absolute;
       top: 12px;
       right: 30px; 
       display: block;
       color: #fff;
       font-size: 30px;
    }

    .menu .list-container{
        position: absolute;
        top: 60px;
        left: -100%;
        width: 90%;
        height: calc(100vh - 60px);
        background: #000;
        border-top: 3px solid #fff;
    }

    .menu .list-container .lists{
        display: block;
        width: 90%;
        margin: 50px auto;
    }

    .menu .list-container .lists li{
        display: flex;
        justify-content: center;
        border-bottom: 2px solid #fff;
    }

    .menu .list-container .lists li a{
        margin: 5px 0px;
    }

    .titulo{
        font-size: 40px;
    }

    .contenedor-servicio img{
        width: 80%;
        margin-bottom: 40px;
    }

    .checklist-servicio{
        width: 80%;
    }

    .service{
        margin-bottom: 30px;
    }

    .agregar-imagen{
        width: 80%;
    }

    .img-galeria{
        width: 45%;
    }

    .footer-content{
        justify-content: center;
    }

    .social-media{
        width: 80%;
        justify-content: space-evenly;
    }
    
    .social-media-icon{
        margin-left: 0;
    }

    .social-media i{
        margin-left: 0;
    }

    .contact-us{
        text-align: center;
        width: 80%;
        margin-bottom: 40px;
    }

}

@media screen and (max-width:500px){
    .menu{
        width: 100vw;
    }

    .titulo{
        font-size: 30px;
    }

    .subtitulo{
        font-size: 30px;
    }

    .agregar-imagen{
        width: 95%;
    }

    .img-galeria{
       width: 95%;
   }

   .social-media{
       width: 100%;
   }

   .contact-us{
       width: 90%;
   }


}

